- var levelSlots = [1, 2, 3, 4]

+section('health')
  div.cp-2020__health__wrapper

    div.cp-2020__health__saves
      +saveField('Stun_Save', 'Stun Save').cp-2020__health__save
      +saveField('Death_Save', 'Death Save').cp-2020__health__save
      +saveField('BTM', 'BTM', false).cp-2020__health__save

    input(name='attr_Stun_Level' type='hidden')
    input(name='attr_Wound_Level' type='hidden')
    div.cp-2020__health__wounds
      each woundLevel, woundIndex in data.woundLevels
        - var woundCategory = woundLevel.toLowerCase().replace(' ', '-')
        div(class=`cp-2020__wound-slot--${woundCategory}`)
          label= woundLevel
          each subLevel in levelSlots
            - var woundId = `wound_${woundIndex}_${subLevel}`
            - var woundValue = `${woundIndex}.${subLevel}`
            - var stunId = `stun_${woundIndex}_${subLevel}`
            div.cp-2020__wound-input
              label(for=woundId)
              input(
                    name='attr_Damage_Indicator'
                    id=woundId
                    type='checkbox'
                    value=woundValue
              )
              span(class=['cp-2020__wound__stun-icon', stunId])
              span(class=['cp-2020__wound__wound-icon', woundId])

