input.cp-2020__nav-toggle(type='hidden' disabled='true' name='attr_tab_nav_indicator' value='@{Nav_Toggle}')
div.cp-2020__nav-tabs
  label.cp-2020__nav-tab--bio bio/motivations
    input(
      type='radio'
      name='attr_Nav_Toggle'
      value='bio'
      checked='true'
    )
  label.cp-2020__nav-tab--skills skills
    input(
      type='radio'
      name='attr_Nav_Toggle'
      value='skills'
    )
  label.cp-2020__nav-tab--weapons-cyber weapons/cyberware
    input(
      type='radio'
      name='attr_Nav_Toggle'
      value='weapons-cyber'
    )
  label.cp-2020__nav-tab--outfit outfit
    input(
      type='radio'
      name='attr_Nav_Toggle'
      value='outfit'
    )
  label.cp-2020__nav-tab--ice ICE
    input(
      type='radio'
      name='attr_Nav_Toggle'
      value='ice'
    )