div.cp-2020__weapons-cyber
  div.cp-2020__weapons-cyber__row
    input(
      disabled='true'
      name='attr_Weapon_Toggle_Indicator'
      type='hidden'
      value='@{Weapon_Toggle}'
    )
    div.cp-2020__weapons-cyber__buy-toggle
      label.cp-2020__weapons-cyber__buy-tab Buy/Sell/Drop
        input(type='radio' name='attr_Weapon_Toggle' value='buy' checked='true')
      label.cp-2020__weapons-cyber__use-tab Use
        input(type='radio' name='attr_Weapon_Toggle' value='use')

    div.cp-2020__weapons-cyber__wrapper
      div.cp-2020__weapons-cyber__col
        +section('weapons')
          fieldset.repeating_weapons
            +box()
              div.cp-2020__weapon-section--buy
                +attrField('weapon_name', 'weapon')(type='text')
                div.cp-2020__weapon-section__row
                  +attrSelect('weapon_type', data.weaponTypes, 'type')
                  +attrSelect('weapon_conc', data.weaponConcealabilities, 'concealability')
                  +attrSelect('weapon_rel', data.weaponReliabilities, 'reliability')
                div.cp-2020__weapon-section__row
                  +attrField('weapon_magazine', 'magazine')(type='number')
                  +attrField('weapon_cartridge', 'cartridge')(type='text')
                  +attrField('weapon_damage', 'damage')(type='text')
                  +attrField('weapon_rof', 'rate of fire')(type='text')
                  +attrField('weapon_accuracy', 'accuracy')(type='number' value='0')
                  +attrField('weapon_range', 'range')(type='number' value='0')
                  +attrField('weapon_blast_radius', 'blast radius')(type='number')
                  +attrField('weapon_kg', 'weight')(
                    type='number'
                    step='0.01'
                  )
                  +attrField('weapon_cost', 'cost')(
                    type='number'
                    step='0.01'
                  )
                  -
                    var hiddenAttributes = [
                      'stat',
                      'stat_level',
                      'skill',
                      'skill_level',
                      'is_melee',
                      'is_ranged',
                      'is_explosive',
                      'is_full_auto'
                    ]
                  each weaponAttr in hiddenAttributes
                    input(
                      name=`attr_weapon_${weaponAttr}`
                      type='hidden'
                      value=`@{weapon_${weaponAttr}|${weaponAttr==='stat' ? 'REF' : 0}`
                    )
                div.cp-2020__weapon-section__row
                  +attrTextArea('weapon_description', 'description')(rows='3')

              div.cp-2020__weapon-section--use
                div.cp-2020__weapon-section__first-row
                  span.cp-2020__weapon-name(name='attr_weapon_name')
                  div.cp-2020__weapon-buttons
                    -
                      var boilerplate = `
                        {{handle=@{Handle}}}
                        {{stat=@{weapon_stat}}}
                        {{skill=@{weapon_skill}}}
                        {{statLevel=@{weapon_stat_level}}}
                        {{skillLevel=@{weapon_skill_level}}}
                        {{fumble=[[1d10]]}}
                        {{fumbleType=Combat}}
                        {{total=[[1d10!
                          + @{weapon_stat_level}
                          + @{weapon_skill_level}
                          + @{weapon_accuracy}
                          + ?{Modifier|0}]]
                        }}
                        {{breakdown=1d10
                          + @{weapon_stat_level}(@{weapon_stat})
                          + @{weapon_skill_level}
                          + @{weapon_accuracy}
                          + ?{Modifier|0}
                        }}`
                    //- melee
                    input.cp-2020__field-toggle(
                      disabled='true'
                      type='hidden'
                      name='attr_weapon_is_melee_toggle'
                      value='@{weapon_is_melee}'
                    )
                    +rollBtn(
                      'melee_weapon_attack',
                      'melee_weapon_attack',
                      `&{template:attack-melee}
                        {{accuracy=@{weapon_accuracy}}}
                        ${boilerplate}`
                    ).cp-2020__weapon__attack-button--melee

                    //- ranged
                    input.cp-2020__field-toggle(
                      disabled='true'
                      type='hidden'
                      name='attr_weapon_is_ranged_toggle'
                      value='@{weapon_is_ranged}'
                    )
                    +rollBtn(
                      'ranged_weapon_attack',
                      'ranged_weapon_attack',
                      `&{template:attack-ranged}
                        {{accuracy=@{weapon_accuracy}}}
                        {{pointBlank=[[2]]}}
                        {{closeStart=[[3]]}}
                        {{close=[[floor(@{weapon_range}/4)]]}}
                        {{mediumStart=[[floor(@{weapon_range}/4) + 1]]}}
                        {{medium=[[floor(@{weapon_range}/2)]]}}
                        {{longStart=[[floor(@{weapon_range}/2) + 1]]}}
                        {{long=[[@{weapon_range}]]}}
                        {{extremeStart=[[@{weapon_range}+1]]}}
                        {{extreme=[[@{weapon_range}*2]]}}
                        {{roundsFired=[[?{rounds&nbsp;fired|1|@{weapon_rof}} + (1d1-1)]]}}
                        {{targetDistance=[[?{distance&nbsp;to&nbsptarget|@{weapon_range}} + (1d1-1)]]}}
                        {{burstHitCount=[[1d3]]}}
                        {{FAPointBlankDC=[[10-round(?{rounds&nbsp;fired|1|@{weapon_rof}}/10)]]}}
                        {{FACloseDC=[[15-round(?{rounds&nbsp;fired|1|@{weapon_rof}}/10)]]}}
                        {{FAMediumDC=[[20+round(?{rounds&nbsp;fired|1|@{weapon_rof}}/10)]]}}
                        {{FALongDC=[[25+round(?{rounds&nbsp;fired|1|@{weapon_rof}}/10)]]}}
                        {{FAExtremeDC=[[30+round(?{rounds&nbsp;fired|1|@{weapon_rof}}/10)]]}}
                        ${boilerplate}`
                    ).cp-2020__weapon__attack-button--ranged

                    //- spray
                    input.cp-2020__field-toggle(
                      disabled='true'
                      type='hidden'
                      name='attr_weapon_is_full_auto_toggle'
                      value='@{weapon_is_full_auto}'
                    )
                    +rollBtn(
                      'supressive_fire',
                      'supressive_fire',
                      `&{template:supressive-fire}
                        {{roundsFired=?{rounds&nbsp;fired|@{weapon_rof}}}}
                        {{fireZone=?{width&nbsp;of&nbsp;firezone&nbsp;in&nbsp;meters|2}}}
                        {{save=[[
                          1d10!
                          + round(
                            ?{rounds&nbsp;fired|@{weapon_rof}} /
                            ?{width&nbsp;of&nbsp;firezone&nbsp;in&nbsp;meters|2}
                          )
                        ]]}}
                        ${boilerplate}`
                    ).cp-2020__weapon__attack-button--full-auto

                    //- hit
                    +rollBtn(
                      'weapon_hit',
                      'weapon_hit',
                      `&{template:attack-hit}
                        {{isExplosive=[[@{weapon_is_explosive}+1d0]]}}
                        {{blastRadius=@{blast_radius}}}
                        {{isMelee=[[@{weapon_is_melee}+1d0]]}}
                        {{damageBonus=@{Damage_Bonus}}}
                        {{handle=@{handle}}}
                        {{damage=[[@{weapon_damage}]]}}
                        {{meleeDamage=[[@{weapon_damage}+@{Damage_Bonus}]]}}
                        {{location=[[1d100]]}}`
                    ).cp-2020__weapon__attack-button--hit

                div.cp-2020__weapon-section__row
                  span.cp-2020__weapon-cost(name='attr_weapon_cost')
                  span.cp-2020__weapon-cartridge(name='attr_weapon_cartridge')
                  span.cp-2020__weapon-type(name='attr_weapon_type')
                  span.cp-2020__weapon-weight(name='attr_weapon_kg')
                  span.cp-2020__weapon-conc(name='attr_weapon_conc')
                  span.cp-2020__weapon-rel(name='attr_weapon_rel')
                  span.cp-2020__weapon-magazine(name='attr_weapon_magazine')
                  span.cp-2020__weapon-rof(name='attr_weapon_rof')
                  span.cp-2020__weapon-accuracy(name='attr_weapon_accuracy')
                  span.cp-2020__weapon-range(name='attr_weapon_range')
                  span.cp-2020__weapon-blast-radius(name='attr_weapon_blast_radius')
                  span.cp-2020__weapon-damage(name='attr_weapon_damage')
                div.cp-2020__weapon-section__row
                  label.cp-2020__weapon__description-toggle
                    input(type='checkbox' value='show')
                    span.cp-2020__weapon-description(name='attr_weapon_description')

      div.cp-2020__weapons-cyber__col
        +section('cyberware')
          fieldset.repeating_augmentation
            +box()
              div.cp-2020__cyberware-section--buy
                div.cp-2020__cyberware-section__row
                  +attrField('aug_name', 'augmentation')(type='text')
                div.cp-2020__cyberware-section__row
                  +attrField('aug_type', 'type')(type='text')
                  +attrField('aug_damage', 'damage')(type='text')
                  +attrField('aug_sdp', 'SDP')(type='number')
                  +attrField('aug_hl', '[HUM] cost')(type='number')
                  +attrField('aug_cost', 'cost')(type='number')
                div.cp-2020__cyberware-section__row
                  +attrTextArea('aug_description', 'description')(rows='3')
              div.cp-2020__cyberware-section--use
                div.cp-2020__cyberware-section__row
                  span.cp-2020__cyberware-name(name='attr_aug_name')
                div.cp-2020__cyberware-section__row
                  span.cp-2020__cyberware-type(name='attr_aug_type')
                  span.cp-2020__cyberware-damage(name='attr_aug_damage')
                  span.cp-2020__cyberware-sdp(name='attr_aug_sdp')
                  span.cp-2020__cyberware-hl(name='attr_aug_hl')
                  span.cp-2020__cyberware-cost(name='attr_aug_cost')
                div.cp-2020__cyberware-section__row
                  label.cp-2020__cyberware__description-toggle
                    input(type='checkbox' value='show')
                    span.cp-2020__cyberware-description(name='attr_aug_description')
