div.cp-2020__weapons-cyber
  div.cp-2020__weapons-cyber__row
    input(
      disabled='true'
      name='attr_Weapon_Toggle_Indicator'
      type='hidden'
      value='@{Weapon_Toggle}'
    )
    div.cp-2020__weapons-cyber__buy-toggle
      label.cp-2020__weapons-cyber__buy-tab Buy/Sell/Drop
        input(type='radio' name='attr_Weapon_Toggle' value='buy' checked='true')
      label.cp-2020__weapons-cyber__use-tab Use
        input(type='radio' name='attr_Weapon_Toggle' value='use')

    div.cp-2020__weapons-cyber__wrapper
      div.cp-2020__weapons-cyber__col
        +section('weapons')
          fieldset.repeating_weapons

            div.cp-2020__weapon-section--buy
              +attrField('weapon_name', 'weapon')(type='text')
              div.cp-2020__weapon-section__row
                +attrSelect('weapon_type', data.weaponTypes, 'type')
                +attrSelect('weapon_conc', data.weaponConcealabilities, 'concealability')
                +attrSelect('weapon_rel', data.weaponReliabilities, 'reliability')
              div.cp-2020__weapon-section__row
                +attrField('weapon_magazine', 'magazine')(type='number')
                +attrField('weapon_cartridge', 'cartridge')(type='text')
                +attrField('weapon_damage', 'damage')(type='text')
                +attrField('weapon_rof', 'rate of fire')(type='text')
                +attrField('weapon_accuracy', 'accuracy')(type='number')
                +attrField('weapon_range', 'range')(type='number')
                +attrField('weapon_kg', 'weight')(type='number')
                +attrField('weapon_cost', 'cost')(type='number')
                input(
                  name='attr_weapon_stat'
                  type='hidden'
                  value='REF'
                )
                input(
                  name='attr_weapon_skill'
                  type='hidden'
                  value=''
                )
                input(
                  name='attr_weapon_skill_level'
                  type='hidden'
                  value=''
                )
              div.cp-2020__weapon-section__row
                +attrTextArea('weapon_description', 'description')(rows='3')

            div.cp-2020__weapon-section--use
              div.cp-2020__weapon-section__first-row
                span.cp-2020__weapon-name(name='attr_weapon_name')
                +rollBtn(
                  'weapon_attack',
                  'weapon_attack',
                  `&{template:general}
                    {{handle=@{Handle}}}
                    {{ref=@{weapon_stat}}}
                    {{skill=@{weapon_skill}}}
                    {{skillLevel=@{weapon_skill_level}}}
                    {{accuracy=@{weapon_accuracy}}}
                    {{total=[[1d10!! + @{REF} + @{weapon_skill_level} + @{weapon_accuracy} + ?{Modifier|0}]]}}
                    {{breakdown=1d10 + @{REF}(@{weapon_stat}) + @{weapon_skill_level} + @{weapon_accuracy} + ?{Modifier|0}]]}}`
                ).cp-2020__weapon__attack-button
              div.cp-2020__weapon-section__row
                span.cp-2020__weapon-cost(name='attr_weapon_cost')
                span.cp-2020__weapon-cartridge(name='attr_weapon_cartridge')
                span.cp-2020__weapon-type(name='attr_weapon_type')
                span.cp-2020__weapon-weight(name='attr_weapon_kg')
                span.cp-2020__weapon-conc(name='attr_weapon_conc')
                span.cp-2020__weapon-rel(name='attr_weapon_rel')
                span.cp-2020__weapon-magazine(name='attr_weapon_magazine')
                span.cp-2020__weapon-rof(name='attr_weapon_rof')
                span.cp-2020__weapon-accuracy(name='attr_weapon_accuracy')
                span.cp-2020__weapon-range(name='attr_weapon_range')
                span.cp-2020__weapon-damage(name='attr_weapon_damage')
              div.cp-2020__weapon-section__row
                label.cp-2020__weapon__description-toggle
                  input(type='checkbox' value='show')
                  span.cp-2020__weapon-description(name='attr_weapon_description')

      div.cp-2020__weapons-cyber__col
        +section('cyberware')
          fieldset.repeating_outfit-item
            div.cp-2020__cyberware-section--buy
              div.cp-2020__cyberware-section__row
                +attrField('aug_name', 'augmentation')(type='text')
              div.cp-2020__cyberware-section__row
                +attrField('aug_type', 'type')(type='text')
                +attrField('aug_damage', 'damage')(type='text')
                +attrField('aug_sdp', 'SDP')(type='number')
                +attrField('aug_hl', '[HUM] cost')(type='number')
                +attrField('aug_cost', 'cost')(type='number')
              div.cp-2020__cyberware-section__row
                +attrTextArea('aug_description', 'description')(rows='3')
            div.cp-2020__cyberware-section--use
              div.cp-2020__cyberware-section__row
                span.cp-2020__cyberware-name(name='attr_aug_name')
              div.cp-2020__cyberware-section__row
                span.cp-2020__cyberware-type(name='attr_aug_type')
                span.cp-2020__cyberware-damage(name='attr_aug_damage')
                span.cp-2020__cyberware-sdp(name='attr_aug_sdp')
                span.cp-2020__cyberware-hl(name='attr_aug_hl')
                span.cp-2020__cyberware-cost(name='attr_aug_cost')
              div.cp-2020__cyberware-section__row
                label.cp-2020__cyberware__description-toggle
                  input(type='checkbox' value='show')
                  span.cp-2020__cyberware-description(name='attr_aug_description')
