//- ===================================================================================
//-
  Creates an Input textfield box and the surrounding markup for visual consistency
  @param  {[type]} attrName  Roll20 Attribute name (snake or camel cased -- no spaces)
  @param  {[type]} attrLabel Human readable Label copy
//- ===================================================================================
mixin attrField(attrName, attrLabel)
  +box(class=attributes.class)
    label(for=attrName)
      input(
        id=attrName
        name=`attr_${attrName}`
        type=attributes.type
        value=attributes.value
        step=(attributes.step || 1)
      )
      if block
        block
      else
        span=attrLabel

//- ===================================================================================
//-
  Creates an Input textfield box and the surrounding markup for visual consistency
  @param  {[type]} attrName  Roll20 Attribute name (snake or camel cased -- no spaces)
  @param  {[type]} attrLabel Human readable Label copy
//- ===================================================================================
mixin attrTextArea(attrName, attrLabel)
  +box(class=attributes.class)
    label(for=attrName)
      textarea(
        id=attrName
        name=`attr_${attrName}`
        rows=attributes.rows
        cols=attributes.cols
      )
      if block
        block
      else
        span=attrLabel


//- ===================================================================================
  Creates a Select box and the surrounding markup for visual consistency
  @param  {String} attrName    Roll20 Attribute name (snake or camel cased -- no spaces)
  @param  {Array} attrOptions Array of Objects with value, label and optional default keys
  @param  {[type]} attrLabel   Human readable Label copy
//- ===================================================================================
mixin attrSelect(attrName, attrOptions, attrLabel)
  +box
    label(for=attrName class=attributes.class)
      select(id=attrName name=`attr_${attrName}`)
        each attrOption in attrOptions
          option(
            value=attrOption.value
            default=attrOption.default
          )= attrOption.label
      if block
        block
      else
        span= attrLabel
