//- ====================================================================
  Creates Skill Stats (Level, IP Multiplier, roll button etc.).
  @param  {String} skillAttrName  Roll20 "attr_" name for skill as attribute
  @param  {Object} skillData      an Object containing skillGroup and description
  @param  {Array} additionalData an Array made up of skillData objects used for compoundSkills to render a select to choose the proper skill (for IpMultiplier dependency)
//- ===================================================================
mixin editFieldStats(skillAttrName, skillData, additionalData)
  div(
    class='cp-2020__skill__stat-wrapper cp-2020__skill__stat-wrapper--edit'
  )

    label(
      class='cp-2020__stat-group cp-2020__stat-group--icon cp-2020__skill--edit'
      for=`${skillAttrName}_chipped`
    )
      input(
        class='cp-2020__stat-group__value cp-2020__stat-group__chipped-skill'
        type='checkbox'
        value='chipped'
        id=`${skillAttrName}_chipped`
        name=`attr_${skillAttrName}_chipped`
      )
      span(title='chipped').cp-2020__skill__chipped

    label(
      for=`${skillAttrName}_level`
    ).cp-2020__stat-group.cp-2020__stat-group--input
      input(
        class='cp-2020__skill__lvl cp-2020__skill--edit cp-2020__stat-group__value'
        type='number'
        value='0'
        min='0'
        max='10'
        id=`${skillAttrName}_level`
        name=`attr_${skillAttrName}_level`
      )
      span.cp-2020__stat-group__label lvl/tot

    label(
      for=`${skillAttrName}_ip`
      class='cp-2020__stat-group cp-2020__stat-group--input cp-2020__skill--edit'
    )
      input(
        type='hidden'
        name=`attr_${skillAttrName}_chipped`
        disabled='true'
      )
      input.cp-2020__stat-group__value(
        type='number'
        value='0'
        id=`${skillAttrName}_ip`
        name=`attr_${skillAttrName}_ip`
      )
      span.cp-2020__stat-group__label ip

    label(class='cp-2020__stat-group cp-2020__stat-group--span cp-2020__skill--edit')
      span.cp-2020__stat-group__value.cp-2020__group--span(
        name=`attr_${skillAttrName}_next_level`
      )
      span.cp-2020__stat-group__label lvl up
